extends layout

block content
  h1.text-center
    | SEND EMAIL

  form(action='/send' method='post')
    .container
      .field-groups
        label
          |  YOU EMAIL (toEmail)
        input(name='toEmail' type='text')
      br
      .field-groups
        label
          |  YOU SUBJECT (toSubject)
        input(name='toSubject' type='text')
      br
      .field-groups
        label
          |  YOU WEB SITE REDIRECT (toRedirect)
        input(name='toRedirect' type='text')
      br
      hr
      br
      .field-groups
        label
          |  CONTACT EMAIL (fromEmail)
        input(name='fromEmail' type='text')
      br
      .field-groups
        label
          |  CONTACT NAME (fromName)
        input(name='fromName' type='text')
      br
      .field-groups
        label
          |  CONTACT MESSAGE (fromMessage)
        textarea(name='fromMessage')
      br
      input(type='submit' value='SEND')



